---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, heroImage } = Astro.props

const slug = Astro.url.pathname.replaceAll('/', '')
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article class='flex flex-col gap-2'>
				<div class='w-full flex justify-center items-center'>
					{
						heroImage && (
							<img
								src={heroImage}
								alt=''
								class='object-cover '
								transition:name={`image-${slug}`}
							/>
						)
					}
				</div>
				<div class='prose prose-stone'>
					<div>
						<div class='text-sm'>
							<FormattedDate date={pubDate} />
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
